language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "nightly"
  - "pypy"
install:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install unittest2; pip install -r requirements26.txt; fi
  - "rm -rf dist/*"
  - pip install -r requirements.txt
  - python setup.py bdist_wheel
  - pip install dist/*.whl
script: cd tests/ && nosetests .
