nose==1.2.1
py==1.4.12
tox==1.4.2
wheel==0.24.0
coverage==5.0.3 ; python_version == '3.8'
coverage==3.7.1 ; python_version != '3.8'
hypothesis==3.1.0 ; python_version != '3.8'
hypothesis==5.5.4 ; python_version == '3.8'
